[submodule "source/min-api"]
	path = source/min-api
	url = https://github.com/Cycling74/min-api.git
[submodule "source/min-lib"]
	path = source/min-lib
	url = https://github.com/Cycling74/min-lib.git
[submodule "source/projects/min.manta/hidapi"]
	path = source/projects/min.manta/hidapi
	url = git@github.com:libusb/hidapi.git
